.content_card_assessment_header_details{
    width: 100%;
    float: left;
}

.content_card_assessment_header_details_section{
    float: left;
    width: 30%;
    margin: 1%;
    margin-left: 2%;
    font-weight: 600;
    font-size: 15px;
}

.content_card_assessment_header_details_section_title{
    color: var(--grey);
    float: left;
    margin: 1%;
}

.content_card_assessment_header_details_section_content{
    color: var(--theme_blue_main);
    float: left;
    margin: 1%;
}

.content_card_title,
.content_card_info{
    width: 96%;
    margin: 2%;
    font-weight: 600;
    font-size: 30px;
    color: var(--theme_blue_dark);
    float: left;
}

.content_card_title{
    line-height: 50px;
}

.content_card_title span{
    color: var(--light_purple);
}

.content_card_info{
    font-size: 20px;
    color: var(--grey);
    margin-top: 0;
    line-height: 25px;
}

.content_card_title_rectangle{
    width: 10px;
    height: 50px;
    background-color: var(--light_purple);
    float: left;
    margin-right: 2%;
    display: block;
}

.content_card_container{
    width: 98%;
    margin: 1%;
    float: left;
    border-radius: 25px;
    background-color: var(--light_color_A);
    background-image: url(../../assets/mtd_assessment_question_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.content_card_container:hover{
    box-shadow: 2px 2px 3px 1px var(--theme_blue_main);
    cursor: pointer;
}

.content_card_question_container{
    width: 96%;
    margin: 0%;
    padding: 2%;
    float: left;
    font-size: 12px;
    font-weight: 600;
    background-color: var(--theme_blue_main);
    border-radius: 25px;
    color: var(--light_color);
    height: 35px;
}

.content_card_question_container_hint{
    width: 99%;
    float: left;
    min-height: 35px;
    padding-top: 15px;
    background-color: var(--theme_blue_main);
    margin-top: -20px;
    margin-bottom: 20px;
    line-height: 25px;
    padding-left: 1%;
}

.content_card_question_container_hint_icon{
    width: 30px;
    height: 20px;
    float: left;
    background-image: url(../../assets/mtd_hint_icon.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.content_card_question_container_hint_icon:hover{
    background-image: url(../../assets/mtd_hint_icon_1.png);
}

.content_card_question_container_hint_text{
    width: calc(99% - 40px);
    padding-left: 1%;
    float: left;
    color: var(--light_color_A);
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}


.content_card_question_section{
    width: 50%;
    float: left;
    text-align: left;
    font-size: 17px;
    font-weight: 600;
}

.text_align_right{
    text-align: right;
}

.content_card_question_text{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    width: 98%;
    margin: 1%;
    float: left;
}

.content_card_solution{
    width: 98%;
    float: left;
    margin: 1%;
}

.content_card_solution button{
    width: 150px;
    font-weight: 600;
    font-size: 12px;
    float: right; 
    margin-right: 10px;
}

.refresh_button button{
    background-image: url(../../assets/mtd_refresh_icon.png);
    background-size: 100% 50px;
    width: 50px;
}

.content_card_solution_left_mobile,
.view_full_solution_mobile{
    display: none;
}

.content_card_solution_left_desktop{
    display: block;
}

.content_card_solution_left,
.content_card_solution_right{
    width: 50%;
    float: left;
}

.content_card_solution_right button{
    float: right;
    margin: 2px;
    margin-right: 10px;
}

.content_card_solution_left button{
    float: left;
    margin: 2px;
    margin-right: 10px;
}

.content_card_solution input{
    width: 200px;
    padding: 1%;
    margin: 2px;
    margin-right: 10px;
    height: 40px;
    float: left;
    border: none;
    font-weight: 600;
}

.content_card_worked_out_solution{
    width: 98%;
    margin: 1%;
    float: left;
    text-align: left;
    font-size: 17px;
    color: var(--theme_blue_main);
    font-weight: 600;
}

.content_card_worked_out_solution table{
    width: 100%;
}


.content_card_worked_out_solution table tr th,
.content_card_worked_out_solution table tr td{
    width: 50%;
    border-bottom: 1px solid var(--light_purple);
}


.content_card_worked_out_solution table tr td{
    font-size: 15px;
    color: var(--light_purple);
    margin-left: 15%;
}

.content_card_worked_out_solution span{
    color: var(--green);
}

.content_card_worked_out_solution img{
    width: 12px;
    height: 12px;
    margin-left: 2px;
}

.content_card_question_container_output_top{
    width: 98%;
    padding: 1%;
    float: left;
    margin-bottom: -20px;
    background-color: var(--light_purple);
    height: 35px;
}

.content_card_question_container_output{
    width: 98%;
    float: left;
    border-radius: 25px;
    min-height: 20px;
    background-color: var(--light_purple);
    color: var(--light_color);
    font-size: 12px;
    font-weight: 600;
    padding: 1%;
    min-height: 35px;
}

/*DEFINITION BOX*/
.dictionary_box_container{
    width: 100%;
    height:100%;
    background-color: var(--light_color);
    background-image: url(../../assets/mtd_bg_1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    right: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    z-index: 1;
    overflow-y: scroll;
    padding-bottom: 1%;
}

.dictionary_box_header{
    float: left;
    width: 100%;
    background-color: var(--theme_blue_main);
    height: 50px;
}

.dictionary_box_header_heading{
    float: left;
    font-size: 17px;
    font-weight: 600;
    color: var(--light_color);
    line-height: 50px;
    margin-left: 1%;
}

.dictionary_box_header_close_icon{
    width: 50px;
    height: 50px;
    background-image: url(../../assets/mtd_clear_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: right;

}

.dictionary_box_header_close_icon:hover{
     background-image: url(../../assets/mtd_clear_bg_hover.png);
     cursor: pointer;
}

.dictionary_box_content,
.dictionary_box_example,
.dictionary_box_subject{
    float: left;
    width: 98%;
    margin: 1%;
    font-weight: 600;
    font-size: 15px;
}

.dictionary_box_content{
    font-size: 17px;
}

.dictionary_box_example ul li,
.dictionary_box_example ul{
    text-align: left;
}

.dictionary_box_subject{
    font-size: 12px;
    color: var(--theme_blue_main);
}

.dictionary_box_example{
    color: var(--theme_blue_main);
    text-align: center;
}

.dictionary_box_example span{
    text-align: left;
    width: 100%;
    float: left;
    color: var(--grey);
}

.dictionary_box_example img{
    width: 420px;
    margin: 2%;
    height: 380px;
}

#mtd_devices_id,
#mtd_online_assessment_engine_example_id{
    width: 620px;
    margin: 2%;
    height: 300px;
}

#mtd_online_assessment_engine_example_id{
    height: 400px;
}

.dictionary_link{
    color: var(--theme_blue_main);
    text-decoration: underline;
    cursor: pointer;
}

.dictionary_box_related{
    width: 98%;
    margin: 1%;
    float: left;
    border-top: 5px dotted var(--light_purple);;
}

.dictionary_box_related .dictionary_link{
    text-decoration: none;
    color: var(--light_color);
    font-weight: 600;
    font-size: 13px;
    border-radius: 15px;
    background-color: var(--light_purple);
    box-shadow: 2px 2px 3px 1px var(--theme_blue_main);
    float: left;
    padding: 2%;
    text-align: left;
    margin: 1%;
 }

 .dictionary_box_related .dictionary_link:hover{
    background-color: var(--theme_blue_dark);
    box-shadow: 2px 2px 3px 1px var(--light_purple);
 }

 @media screen and (max-width: 820px){
    .content_card_solution_left_mobile,
    .view_full_solution_mobile{
        display: block;
    }

    .content_card_solution_left_mobile button{
        background-image: url(../../assets/mtd_verify_solution_icon.png);
        background-size: 100% 50px;
        width: 50px;
    }

    .content_card_solution_left_mobile button:hover{
        background-image: url(../../assets/mtd_verify_solution_icon_1.png);
    }

    .view_full_solution_mobile button,
    .view_full_solution_mobile button:hover{
        background-image: url(../../assets/mtd_view_full_solution_icon.png);
        background-size: 100% 50px;
        width: 50px;
    }

    
    .content_card_solution_left_desktop{
        display: none;
    } 

    .content_card_solution input{
        width: 120px;
        height: 45px;
    }
   
    .content_card_container,
    .content_card_question_container_output,
    .content_card_question_container{
        border-radius: 10px;
    }

    .content_card_question_text{
        font-size: 15px;
    }

    .content_card_title{
        font-size: 20px;
    } 
    .content_card_info{
        font-size: 15px;
    }

    .content_card_container:hover{
        box-shadow: none;
    }
}

@media screen and (max-width: 700px){
    #mtd_devices_id,
    #mtd_online_assessment_engine_example_id{
        width: 450px;
        height: 250px;
    }
}
@media screen and (max-width: 560px){
    .content_card_solution_left,
    .content_card_solution_right{
        width: 100%;
    }

    .content_card_assessment_header_details_section_title,
    .content_card_assessment_header_details_section_content{
        width: 98%;
        float: left;
    }
    

    .content_card_solution input{
        width: calc(100% - 87px);
        height: 40px;
    }

    .content_card_solution_right button{
        float: left;
    }

    .content_card_worked_out_solution,
    .content_card_worked_out_solution table tr td{
          font-size: 12px;
     }
}
@media screen and (max-width: 500px){
   
    .dictionary_box_related .dictionary_link{
        padding-top: 15px;
        padding-bottom: 15px;
     }

     .content_card_title{
        line-height: 30px;
    }
    

     .content_card_title_rectangle{
        display: none;
    }

    .dictionary_box_example img{
        width: 300px;
        height: 280px;
    }

    #mtd_devices_id,
    #mtd_online_assessment_engine_example_id{
        width: 300px;
        height: 150px;
    }

    .dictionary_box_content,
.dictionary_box_example,
.dictionary_box_subject,
.content_card_assessment_header_details_section{
     font-size: 12px;
}
}

@media screen and (max-width: 350px){
    .dictionary_box_example img{
        width: calc(300px - 15%);
        height: 220px;
    }

    #mtd_devices_id,
    #mtd_online_assessment_engine_example_id{
        width: calc(300px - 15%);
        height: 150px;
    }
}


    

    

